<div class="container"> 

  <!-- Navbar Section -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img class="ima" src="../assets/images/portLogo.png" alt="image">
        <a class="navbar-brand" href="#">myPortFolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
          </ul>

          <ul class="nav navbar-nav " style="margin-left: 50%" routerLinkActive="active">
                <li class="nav-item"><a class="btn btn-outline-success my-2 my-sm-0" routerLink="/signin" style="margin: 5px;">Sign In</a></li>
                <li class="nav-item"><a class="btn btn-outline-warning my-2 my-sm-0" routerLink="/signup"  style="margin: 5px">Sign Up</a> </li>
        </ul>
        </div>
      </nav>

  <!-- /Navbar Section -->

  <div class="container">
  <router-outlet></router-outlet>
  </div>
</div>